---
title: Гайд стилей
layout: styleguide.njk
---

{% include "pages/styleguide/sections/basics.njk" %}
{% include "pages/styleguide/sections/colors.njk" %}
{% include "pages/styleguide/sections/components.njk" %}
{% include "pages/styleguide/sections/forms.njk" %}
{% include "pages/styleguide/sections/modals.njk" %}
{% include "pages/styleguide/sections/navigation.njk" %}
{% include "pages/styleguide/sections/tables.njk" %}
