<footer class="footer">
  <div class="footer__copyright">
    &copy;БНЦ, 2003–
    <span class="current-year"></span>
  </div>
</footer>

<script href="{% webpackAsset 'vendor.js' %}"></script>
<script href="{% webpackAsset 'index.js' %}"></script>
