<head>
  <title>{{pageTitle}}</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{pageDescription}}">

  {% include "components/critical_css.njk" %}

  <link rel="icon" type="image/png" href="{{ '/favicon.ico' | url }}">
  <link rel="stylesheet" href="/assets/styles/index.css?v={% version %}">
</head>
