{% from "components/_modal-form.njk" import modalShell, formShell %}
{% call modalShell("journal-order-modal-tpl", "journal-order-title") %}
  <h2 id="journal-order-title" class="modal__title">Заказ журнала</h2>
  {% call formShell() %}
    <label for="journal-title-input">Название</label>
    <input type="text" id="journal-title-input" name="title" readonly class="form__input" autocomplete="off" />
    <label for="journal-pages-input">Страницы</label>
    <input type="text" id="journal-pages-input" name="pages" class="form__input" placeholder="Введите страницы" autocomplete="off" />
    <label for="journal-email-input">Email</label>
    <input type="email" id="journal-email-input" name="email" class="form__input" placeholder="example@mail.ru" autocomplete="email" />
  {% endcall %}
{% endcall %}
