<header>
  <nav class="menu">
    <button class="menu-mobile">☰</button>

    <a class="benran-logo" href="http://www.benran.ru/" title="Перейти на сайт БЕН РАН">
      <img width="49" height="51" src="/assets/images/logos/benran.png" loading="lazy" alt="БЕН РАН">
    </a>
    <a class="bnc-logo" href="/">
      <img width="57" height="51" src="/assets/images/logos/bnc.gif"
        alt="Библиотека Научного центра РАН в Черноголовке">
    </a>

    <ul class="menu-list">
      <li>
        <a class="menu-list__link" href="/">Главная</a>
      </li>

    {%- for entry in collections.all | eleventyNavigation %}
      {## Проверяем, что у страницы указан eleventyNavigation или это вложенная страница ##}
      {%- set isActive = entry.url == page.url or page.filePathStem.startsWith(entry.url) -%}

      <li>
        <a
          class="menu-list__link{% if isActive %} menu-list__link--active{% endif %}"
          href="{{ entry.url | url }}"
        >
          {{ entry.title }}
        </a>
      </li>
    {%- endfor %}
    </ul>
  </nav>
</header>
