.journal-list {
  cursor: pointer;

  &:before {
    content: "ᐳ";
    font-size: .65rem;
    margin-right: .3rem;
    opacity: .5;
  }

  &__items {
    display: none;
  }
}

.journal-item--expanded {
  .journal-list:before {
    content: "⌃";
  }
  .journal-list__items {
    display: block;
  }
}
