.journal-item {
  padding: 10px 0 10px 15px;
  cursor: pointer;
  position: relative;

  &:before {
    top: 15px;
    left: 0;
    position: absolute;
    content: "▶";
    font-size: 0.65rem;
    margin-right: 0.3rem;
    opacity: 0.5;
  }

  &--expanded {
    &:before {
      content: "▼";
    }

    .journal-list__items {
      display: block;
    }
  }
}

.journal-list__items {
  display: none;
}
