.journal-list {
  cursor: pointer;
}
.journal-list__items {
  display: none;
}
.journal-list:before {
  content: "ᐳ";
  font-size: .65rem;
  margin-right: .3rem;
  opacity: .5;
}

.journal-item--expanded {
  .journal-list:before {
    content: "⌃";
  }
  .journal-list__items {
    display: block;
  }
}
