.libweb-list {
  em {
    float: right;
    font-style: normal;

    @media #{$isCompact} {
      display: block;
      float: unset;
      font-weight: bold;
    }
  }

  ol {
    & > li:nth-child(odd) p {
      background-color: rgba(238, 238, 238, 0.5);
    }
  }
}
