<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143022341-36"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-143022341-36');

  {# Our Google Analytics #}
  gtag('config', 'UA-19964411-2');
</script>
