<!DOCTYPE html>
<html lang="ru">
{%- set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ meta.siteName }}{% endset -%}
{%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}

  {% include "components/head.njk" %}

  <body class="new-body">
    {% include "components/nav.njk" %}
    <main>
      {% include "components/breadcrumbs.njk" %}
      <h1>{{ title }}</h1>
      {% block content %}
        {# Содержимое по умолчанию для страниц без блока content #}
        {{ content | safe }}
      {% endblock %}
    </main>

    {% include "components/footer.njk" %}
    {% include "components/counters/index.njk" %}
  </body>
</html>
