---
title: Новости
permalink: "/news/"
description: "Свежие новости, вебинары по публикации научных статей, тестовый доступ, сервис MyLOFT для удалённой работы с подписными научными ресурсами."
eleventyNavigation:
  key: Новости
  order: 2
---

{##
⚠️ ВНИМАНИЕ!
Этот файл генерирует страницу новостей автоматически.
Чтобы добавить новость, создайте файл с датой и расширением .md, пример: 2025-02-16.md
##}

{% set year = getGlobalCurrentYear %}
{% set posts = collections.newsByYear[year] %}
{% include "pages/news/_news-list.njk" %}
{% include "pages/news/_archive.njk" %}
