---
title: Новости
eleventyNavigation:
  key: Новости
  order: 2
---

{% set year = getGlobalCurrentYear %}
{% set posts = collections.newsByYear[year] %}
{% include "pages/news/_news-list.njk" %}
{% include "pages/news/_archive.njk" %}
