---
title: Новости
eleventyNavigation:
  key: Новости
  order: 2
---

{% set year = getGlobalCurrentYear %}
{% set posts = collections.newsByYear[year] %}
{% include "./_news-list.njk" %}
{% include "./_archive.njk" %}
