<header>
    <nav>
    <ul class="menu">
        <li><a class="menu__link" href="/">Главная</a></li>
        <li><a class="menu__link" href="/news.html">Новости</a></li>
        <li><a class="menu__link" href="/libweb.html">Веб библиотека</a></li>
        <li><a class="menu__link" href="/bncpost.html">Новые поступления</a></li>
        <li><a class="menu__link" href="/BENex.html">Журналы БЕН</a></li>
        <li><a class="menu__link" href="/subjex.html">Тематические выставки</a></li>
        <li><a class="menu__link" href="/elcat.html">Электронный каталог</a></li>
        <li><a class="menu__link" href="/onas.html">О библиотеке</a></li>
        <li><a class="menu__link" href="/adres.html">Контакты</a></li>
    </ul>
    </nav>
</header>