<header>
    <nav class="menu">
    <button class="menu-mobile">☰</button>

    <a class="benran-logo" href="http://www.benran.ru/" title="Перейти на сайт БЕН РАН">
        <img src="/assets/images/logos/benran.png" alt="БЕН РАН">
    </a>
    <a class="bnc-logo" href="/">
        <img src="/assets/images/logos/bnc.gif" alt="Библиотека Научного центра РАН в Черноголовке">
    </a>

    <ul class="menu-list">
        <li><a class="menu-list__link" href="/">Главная</a></li>
        <li><a class="menu-list__link" href="/news.html">Новости</a></li>
        <li><a class="menu-list__link" href="/libweb.html">Веб библиотека</a></li>
        <li><a class="menu-list__link" href="/BNP/">Новые поступления</a></li>
        <li><a class="menu-list__link" href="/BENex/">Журналы БЕН</a></li>
        <li><a class="menu-list__link" href="/subjex.html">Тематические выставки</a></li>
        <li><a class="menu-list__link" href="/ec/">Электронный каталог</a></li>
        <li><a class="menu-list__link" href="/about/">О библиотеке</a></li>
        <li><a class="menu-list__link" href="/adres.html">Контакты</a></li>
    </ul>
    </nav>
</header>