* {
  box-sizing: border-box;
}

body.new-body {
  width: 100%;
  max-width: 1024px;
  background-color: #fafaff; /*deprecated*/
  margin: 0 auto;
  padding: 0 20px;
  font-size: 18px;
  position: relative;
  padding-top: 1em;
}

a {
  color: var(--linkColor);
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--linkUnderlineColor);
  transition-property:
    border-bottom, border-color, background-color, color, fill;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
}

a:hover,
a.active-link {
  color: var(--hoverColor);
  border-bottom-color: var(--hoverUnderlineColor);
}

h1 {
  margin-top: 0;
}
