header {
  position: fixed;

  @media (--media-compact) {
    position: static;
  }
}

main {
  padding-left: 220px;
  min-height: calc(100vh - var(--footerHeight));

  @media (--media-compact) {
    padding-left: 0;
  }
}

.footer {
  height: var(--footerHeight);
}
