.main-page {}

.last-news {
  display: flex;
  flex-wrap: wrap;
}
.last-news img {
  max-width: 400px;
  margin-right: 10px;
  width: 100%;
}
.last-news img[src$="ny.jpg"] {
  max-width: 600px;
}

.last-news-list {
  padding: 0;
  list-style: none;
  flex: 1 1 300px;
}
.last-news-list__item {
  margin-bottom: 20px;
}

.get-last-news {
  margin-bottom: 2rem;
}
