nav.menu {
  position: relative;
  padding-top: 10px;
}

.menu-list {
  padding: 0;
  list-style: none;

  @media (--media-compact) {
    display: none;
    flex-direction: column;
  }
}

.menu-list--open {
  display: flex;
}

.menu-list__link {
  padding: 5px 0;
  border-bottom-width: 0;
  display: block;

  @media (--media-compact) {
    padding: 5px;
  }
}

.menu-list__link--active {
  color: var(--hoverColor);
}

.menu-mobile {
  display: none;
  border: none;
  background-color: transparent;
  font-size: 2.6rem;
  cursor: pointer;

  @media (--media-compact) {
    display: inline-block;
  }
}

.benran-logo {
  background-color: #0d3b8b;
  border-radius: 50%;
  display: inline-block;
  height: 51px;

  @media (--media-compact) {
    display: none;
  }
}

.bnc-logo {
  @media (--media-compact) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
