---
title: Библиотека Научного центра РАН в Черноголовке
---

{% set year = getGlobalCurrentYear %}
{% set news = collections.newsByYear[year] %}
{% set posts = news | limit(2) %}

<section class="get-last-news">
  {% include "pages/news/_news-list.njk" %}
  <a href="/news/">Все новости</a>
</section>

<div class="last-news">
  <ul class="last-news-list">
  </ul>
</div>

<a href="https://app.myloft.xyz/user/login?institute=cm3r6rnbv0dgm6c41y2lkl2y5">
  <img loading="lazy" src="/assets/images/libweb/myLoft.jpg" alt="удобный доступ к подписным электронным ресурсам БЕН РАН" />
</a>




