---
title: Библиотека Научного центра РАН в Черноголовке
---

{% set year = getGlobalCurrentYear %}
{% set currentYearNews = collections.newsByYear[year] %}

{% if currentYearNews and currentYearNews.length > 0 %}
  {# Если есть новости текущего года - показываем их без года #}
  {% set posts = currentYearNews | limit(2) %}
  {% set showYear = false %}
{% else %}
  {# Если новостей текущего года нет - показываем последние из всех лет с годом #}
  {% set allNews = collections.newsByYear | getAllNews %}
  {% set posts = allNews | limit(2) %}
  {% set showYear = true %}
{% endif %}

{% if posts %}
  <section class="get-last-news">
    {% include "pages/news/_news-list.njk" %}
    <a href="/news/">Все новости</a>
  </section>
{% endif %}

<div class="last-news">
  <ul class="last-news-list">
  </ul>
</div>

<a href="https://app.myloft.xyz/user/login?institute=cm3r6rnbv0dgm6c41y2lkl2y5">
  <img loading="lazy" src="/assets/images/libweb/myLoft.jpg" alt="удобный доступ к подписным электронным ресурсам БЕН РАН" />
</a>




