---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xhtml="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if page.url %}
    {%- set urlPath = page.url | replace("/index.html", "/") | replace(".html", "") %}
    {%- if urlPath == "/" %}
      {%- set priority = "1.0000" %}
      {%- set changefreq = "daily" %}
    {%- elif urlPath == "/news/" or urlPath == "/BENex/" or urlPath == "/BNP/" or urlPath == "/subjex/" or urlPath == "/ec/" or urlPath == "/libweb/" %}
      {%- set priority = "0.8000" %}
      {%- set changefreq = "weekly" %}
    {%- elif urlPath | hasPrefix("/news/") or urlPath | hasPrefix("/BENex/") or urlPath | hasPrefix("/BNP/") %}
      {%- set priority = "0.8000" %}
      {%- set changefreq = "weekly" %}
    {%- else %}
      {%- set priority = "0.6000" %}
      {%- set changefreq = "monthly" %}
    {%- endif %}
    {%- set lastmodDate = page.date | getSitemapDate %}
<url>
   <loc>https://chglib.icp.ac.ru{{ page.url }}</loc>
   <lastmod>{{ lastmodDate }}</lastmod>
   <changefreq>{{ changefreq }}</changefreq>
   <priority>{{ priority }}</priority>
</url>
  {%- endif %}
{%- endfor %}
</urlset>
