---json
{
  "title": "Электронный читальный зал"
}
---

<h2>Список полнотекстовых электронных версий изданий и баз данных</h2>

<hr>
<ul>
  <li><a href=#a1>Отечественные журналы</a></li>
  <li><a href=#a2>Базы данных</a></li>
  <li><a href=#a3>Российская платформа архивов научных журналов НЭИКОН</a></li>
  <li><a href=#a4>Иностранные журналы</a></li>
  <li><a href=#a5>Электронные книги</a></li>
</ul>

<p>Доступ возможен из электронного читального зала в Центральной библиотеке (КОН ИПХФ, 3&nbsp;этаж).</p>

<hr>

<div class="libweb-resbnc">
  {% renderFile './pages/libweb/resbnc/a1.md' %}
  {% include './a2.html' %}
  {% renderFile './pages/libweb/resbnc/a3.md' %}
  {% renderFile './pages/libweb/resbnc/a4.md' %}
  {% renderFile './pages/libweb/resbnc/a5.md' %}
</div>
