---json
{
  "title": "Электронный читальный зал"
}
---

<h2>Список полнотекстовых электронных версий изданий и баз данных</h2>

<hr>
<ul>
  <li><a href=#a1>Отечественные журналы</a></li>
  <li><a href=#a2>Базы данных</a></li>
  <li><a href=#a3>Российская платформа архивов научных журналов НЭИКОН</a></li>
  <li><a href=#a4>Иностранные журналы</a></li>
  <li><a href=#a5>Электронные книги</a></li>
</ul>

<p>Доступ возможен из электронного читального зала в Центральной библиотеке (КОН ИПХФ, 3&nbsp;этаж).</p>

<hr>
{% include './a1.html' %}
{% include './a2.html' %}
{% include './a3.html' %}
{% include './a4.html' %}
{% include './a5.html' %}
