{% if posts %}
  {% for post in posts %}
    <article>
      <h2>{{ post.date | getHumanDate }}</h2>
      {{ post.content | safe }}
    </article>
  {% endfor %}
{% else %}
  <p>Постов нет.</p>
{% endif %}
