{% if posts %}
  {% for post in posts %}
    <article>
      <h2>
        <time datetime="{{post.date}}">
          {{ post.date | getHumanDate }}
        </time>
      </h2>

      {{ post.content | safe }}
    </article>
  {% endfor %}
{% else %}
  <p>Новостей за этот год еще не появилось.</p>
{% endif %}
