* {
  box-sizing: border-box;
}

body.new-body {
  width: 100%;
  max-width: 1024px;
  background-color: #fafaff; //deprecated
  margin: 0 auto;
  padding: 0 20px;
  font-size: 18px;
  line-height: 24px;
}

a {
  color: $linkColor;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $linkUnderlineColor;
  transition-property: border-bottom,border-color,background-color,color,fill;
  transition-duration: .33s;
  transition-timing-function: ease-out;

  &:hover,
  &.active-link {
    color: $hoverColor;
    border-bottom-color: $hoverUnderlineColor;
  }
}