header {
  position: fixed;
  
  @media #{$IsCompact} {
    position: static;
  }
}

main.content {
  padding-left: 230px;
  min-height: calc(100vh - #{$footerHeight});
  
  @media #{$IsCompact} {
    padding-left: 0;
  }
}

.footer {
  height: $footerHeight;
}