header {
  position: fixed;
  
  @media #{$isCompact} {
    position: static;
  }
}

main {
  padding-left: 220px;
  min-height: calc(100vh - #{$footerHeight});
  
  @media #{$isCompact} {
    padding-left: 0;
  }
}

.footer {
  height: $footerHeight;
}