nav.menu {
  position: relative;
  padding-top: 10px;
}

.menu-list {
  padding: 0;
  list-style: none;
  
  @media #{$isCompact} {
    display: none;
    flex-direction: column;
  }
  
  &__link {
    padding: 5px 0;
    border-bottom-width: 0;
    display: block;
    
    @media #{$isCompact} {
      padding: 5px;
    }
    
    &--active {
      color: $hoverColor;
    }
  }
  
  &--open {
    display: flex;
  }
}

.menu-mobile {
  display: none;
  border: none;
  background-color: transparent;
  font-size: 2.6rem;
  cursor: pointer;

  @media #{$isCompact} {
    display: inline-block;
  }
}

.benran-logo {
  background-color: #0d3b8b;
  border-radius: 50%;
  display: inline-block;
  height: 51px;

  @media #{$isCompact} {
    display: none;
  }
}

.bnc-logo {
  @media #{$isCompact} {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}