$thin: 0.85;
$IsCompact: 'screen and (max-width: 800px)';
$footerHeight: 50px;

$linkColor: #0060a0;
$linkUnderlineColor: transparentize($linkColor, $thin);

$linkColorVisited: #70a0b0;
$linkUnderlineColorVisited: transparentize($linkColorVisited, $thin);

$hoverColor: #b03000;
$hoverUnderlineColor: transparentize($hoverColor, $thin);