$thin: 0.85;
$isCompact: 'screen and (max-width: 800px)';
$footerHeight: 50px;

$linkColor: #0060a0;
$linkUnderlineColor: rgba($linkColor, 1 - $thin);

$linkColorVisited: #70a0b0;
$linkUnderlineColorVisited: rgba($linkColorVisited, 1 - $thin);

$hoverColor: #b03000;
$hoverUnderlineColor: rgba($hoverColor, 1 - $thin);